@CHARSET "UTF-8";
body{
	text-align: center;
}
p{font-size:  22px;}
input{width: 300px;}
td{ width:  350px;
vertical-align: top;
}
input {
	padding: 5px;
}
button{
	margin-top:  15px;
	padding: 5px 25px;
}
table {
margin:  auto;
}